<div class="login-box">
    <h2 *ngIf="errMsgShow">{{ errMsg }}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="Submit()">
        <div class="user-box">
            <label for="">Email</label>
            <input type="email" formControlName="email">
        </div>
        <div class="user-box">
            <label for="">Password</label>
            <input type="password" formControlName="password">
        </div>
        <button class="btn signin" [disabled]="loginForm.invalid">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Login
        </button>
    </form>
</div>