.container {
  margin-top: 10px;
}

input {
  width: 50%;
}

.btn-space {
  margin-right: 5px;
}

.btn-up {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #e7f211;
}

.list-group-item {
  background-color: #e7f211;
}
