.btn-space {
  margin-right: 5px;
}

.home-container {
  height: 90.3vh;
  padding-top: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../../2593133.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.btn-block {
  margin-right: 5px;
}
