<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Product Review Management</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse col-xs-3" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="btn btn-primary btn-space" (click)="userSignup()">Signup</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary btn-space" (click)="userLogin()">Login</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger btn-space" (click)="adminLogin()">Admin</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- body -->
<div class="home-container">
  <button type="button" class="btn btn-warning btn-lg btn-block">Total Registered Users: {{totalUsers}}</button>
  <button type="button" class="btn btn-warning btn-lg btn-block">Total Products: {{totalProducts}}</button>
  <button type="button" class="btn btn-warning btn-lg btn-block">Total Reviews: {{totalReviews}}</button>
</div>